<footer class="bg-dark text-light py-5">
    <div class="container">
      <div class="row">
        <!-- Colonna 1: Links -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase">Company</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">About Us</a></li>
            <li><a href="#" class="text-light">Careers</a></li>
            <li><a href="#" class="text-light">Press</a></li>
            <li><a href="#" class="text-light">Contact</a></li>
          </ul>
        </div>
  
        <!-- Colonna 2: Products -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase">Products</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">New Arrivals</a></li>
            <li><a href="#" class="text-light">Men's</a></li>
            <li><a href="#" class="text-light">Women's</a></li>
            <li><a href="#" class="text-light">Kids'</a></li>
          </ul>
        </div>
  
        <!-- Colonna 3: Customer Service -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase">Customer Service</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Help Center</a></li>
            <li><a href="#" class="text-light">Track Order</a></li>
            <li><a href="#" class="text-light">Returns</a></li>
            <li><a href="#" class="text-light">Shipping Info</a></li>
          </ul>
        </div>
  
        <!-- Colonna 4: Social Media -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase">Follow Us</h5>
          <div class="d-flex">
            <a href="#" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-light"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
  
      <div class="row mt-4">
        <div class="col-12 text-center">
          <p class="mb-0">&copy; 2024 Nike, Inc. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>

