<div >
    <div class="mb-3">
      <label for="street" class="form-label">Street</label>
      <input type="text" class="form-control" id="street" formControlName="street">
    </div>
  
    <div class="mb-3">
      <label for="number" class="form-label">Number</label>
      <input type="text" class="form-control" id="number" formControlName="number">
    </div>
  
    <div class="mb-3">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" id="city" formControlName="city">
    </div>
  
    <div class="mb-3">
      <label for="province" class="form-label">Province</label>
      <input type="text" class="form-control" id="province" formControlName="province">
    </div>
  
    <div class="mb-3">
      <label for="postalCode" class="form-label">Postal Code</label>
      <input type="text" class="form-control" id="postalCode" formControlName="postalCode">
    </div>
  </div>
